<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  B O O T S T R A P   4   C S S   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--  B O O T S T R A P    J S    F I L E S  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- J S  F I L E -->
    <script src="/javascripts/index.js"></script>

    <!--  C S S   F I L E  -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title><%=title%></title>
</head>

<body>
    <h1>Quiz</h1>

    <div id="quiz">
        <div class="quiz-box">
            <div class="quiz-q">
                <p><b><%=items[0].q%></b></p>
            </div>
            <div class="quiz-a">
                <form>
                <% for(i=0; i < items[0].a.length; i++ ) { %>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio"
                            value="<%=items[0].a[i]%>"><%=items[0].a[i]%>
                    </label>
                </div>
                <% } %>
                </form>
            </div>
            <div class="quiz-submit-btn">
                <button class="quiz-btn" onclick="nextQ(<%=nextQ%>)">Submit</button>
            </div>
        </div>
    </div>
</body>

</html>