<header>
    <nav>
        <h1>Quiz</h1>
        <h5 class="ml-auto"><%=examineeName%></h5>
    </nav>
</header>
<div class="progress">
    <div class="progress-bar" id="progress-bar" role="progressbar" style="width:<%=count%>%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div id="quiz">
    <div class="quiz-box">
        <div class="quiz-q">
            <p><b><%=items[0].q%></b></p>
        </div>
        <div class="quiz-a">
            <form onsubmit="event.preventDefault(); nextQ(<%=nextQ%>)">
                <input type="hidden" name="qID" value="<%=items[0]._id%>" id="qID">
                <% for(i=0; i < items[0].a.length; i++ ) { %>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="answer" id="answer"
                            value="<%=items[0].a[i]%>"><%=items[0].a[i]%>
                    </label>
                </div>
                <% } %>
                <div class="quiz-submit-btn">
                    <button class="quiz-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>